t/statikk.ods
dist
*.swp
vinapu-1*
*.txt
*.docx
tmp
.cabal-sandbox/
cabal.sandbox.config
vinapu-2.2
vinapu-5.0
ghci-sandbox
src/demo
myprojects/
rcshaskell
src/demo.html
statikk.xml
stearnswharf-1.2.2
demo/laster.html
demo/dekke.xml
hlint

